<footer class="py-5 bg-dark text-white text-center">
    <p>Her şey ayağına gelsin! © Copyright 2021 - 2021 En-Sa Bilgisayar Hizmetleri Tic. A.Ş. Her Hakkı Saklıdır.</p>
    BulBuluştur.com, Bir Sadıklar Online Markasıdır.
    <p>Bu bir Sadıklar E-Ticaret grubuna aittir</p>
</footer>