@model Product

<div class="card mb-2" style="height:28rem;">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h4 style="color:coral">
            @Model.Price.ToString("c")
        </h4>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-warning btn-sm">Detay</a>

        @if (User.Identity.IsAuthenticated)
        {
            //burdaki inline 2 tane butonun yan yana durmasını sağlar...
            <form asp-controller="Cart" asp-action="AddToCart" method="POST" style="display: inline;">
                <input type="hidden" name="productId" value="@Model.ProductId">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-success btn-sm">Ekle</button>
            </form>
        }
    </div>
</div>   